$primary-color: rgb(214, 16, 16);

body {
  font-family: "Conv_Pokemon_GB";
  //   color: $primary-color;
  background: url("../assets/img/bg.png");
  background-size: auto;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  h1 {
  }

  div {
  }

  label {
  }

  input {
  }
}
